/* CSS: Brian Jensen @ www.magnify.dk */



/*
  Font, colors etc.
*/

/*
  Default
*/

body {
  background-color: #fff;
  color: #000;
  font: 100%/150% Arial, Verdana, sans-serif;
  padding: 20px;
}

a,
a:link,
a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover,
a:active {
  color: #000;
  text-decoration: none;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

/*
  Generel elements
*/

#site-header {
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;  
}

#site-subheader {
  position: relative;
}

#block-menu-primary-links {
  font: 100%/675% Arial Black, Arial, Verdana, sans-serif;
  letter-spacing: -1px;
  height: 107px;
  margin: 0;
  position: absolute;
  right: 0;
  text-transform: lowercase;
  top: 0;
}

#block-menu-primary-links ul {
  margin: 0;
  padding: 0;
}

#block-menu-primary-links li {
  background: url('../gfx/menu-sep.png') no-repeat right 3px;
  display: inline;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0 25px 0 10px;
}

#block-menu-primary-links li.active-trail a {
  color: #362c57;
}

#block-menu-primary-links li.last {
  background: none;
}

#main {
  margin-top: 20px;
}

h1#page-title,
#main-content .field-field-subtitle {
  color: #000;
  font: 125% Arial, sans-serif;
  font-weight: bold;
  line-height: 150%;
}

h1#page-title {
  font-size: 150%;
  margin: 0;
}

#main-content h3 {
  margin: 0 0 5px;
}

#comments {
  border-top: 1px dashed #c1bfcd;
  margin: 5px 0 0;
}

#comment-form-1 {
  overflow: auto;
  width: 100%;
}



#comments h2,
#comments .form-item a,
#comments p a,
#comments label,
#comments .edit-comment,
#comments fieldset.collapsible,
#comments #edit-preview-1,
#comments .wysiwyg,
#comments #comment-controls .container-inline,
#comments #comment-controls .description {
  display: none;
}

#comments #comment-form-1 .resizable-textarea {
  width: 99%;
}

#comments #edit-comment-1 {
  height: 75px;
}

#comments #edit-submit-1 {
  clear: both;
  float: right;
  margin: 0 3px 15px;
}
#comments .comment-folded {
  border: 1px dashed #e1e1e1;
  background-color: #f1f1f1;
  margin: 0 0 5px;
  padding: 3px 5px;
}